# Whether to start ActiveMQ (as a daemon or not)
NO_START={{ activemq_no_start }}

# Use Debian create user to run ActiveMQ process
ACTIVEMQ_USER="{{ activemq_user }}"

# Time to wait for the server to die, in seconds
DIETIME={{ activemq_dietime }}
